a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  height: 100px;
  background-color: #141721;
  color: white;
}

.main-nav {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  margin: 0 4rem;
}

.main-nav > ul {
  display: flex;
}

.main-nav > ul > li {
  padding: 0 1rem;
}

.user-section {
  display: flex;
  gap: 1rem;
}

.posts-title {
  margin: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: start;
  margin-bottom: 2rem;
}

.no-comments {
  padding: 0.5rem 1rem;
}

.comment-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.comment-item__content {
  flex: 2;
  margin-left: 1rem;
}

.comment-item__content-meta {
  display: flex;
  align-items: center;
}

.comment-item__content-meta__date {
  margin-right: 0.5rem;
}

.comment-item__content-meta__fav {
  margin-right: 0.5rem;
}

.small-icon > svg {
  width: 15px;
  height: 15px;
}
